<section class="w-full relative px-14 flex flex-col items-stretch hsero-section -mt-32">
  <!-- hero -->
  <div class="w-full py-12 mx-auto max-w-7xl flex-1 flex flex-row items-start">
    <div class="w-full flex flex-wrap items-center mx-auto max-w-7xl mt-12 2xl:mt-40">
      <div
        class="flex flex-col items-start text-left w-1/3 lg:pr-6 md:mb-0 relative z-20 ml-auto"
        data-aos="fade-right"
        data-aos-duration="2000"
      >
        <h1
          class="
            mb-2
            text-4xl
            font-bold
            leading-none
            tracking-wide
            text-primary-dark
            md:text-4xl
            lg:text-4xl
          "
        >
          Try demo online
        </h1>
        <p class="text-base leading-relaxedx text-left text-primary-dark">
          Gingerbread oat cake dragée marzipan carrot cake chocolate bar jelly beans chocolate bar
          candy.
        </p>
        <div class="mt-0 lg:mt-8 max-w-7xl sm:flex">
          <a href="#about" class="btn btn-primary">
            <span class="svg">
              <svg class="w-4 h-4">
                <use xlink:href="../../../images/sprite.svg#chevron-right" />
              </svg>
            </span>
            <span class="label">Request now</span>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-5/6 lg:max-w-lg xl:mt-0 relative z-10">
        <div class="shipmix">
          <div
            class="ship"
            data-aos="fade-up-left"
            data-aos-easing="ease-in-sine"
            data-aos-delay="500"
            data-aos-offset="200"
          >
            <img class="" alt="hero" src="../../../images/ship.svg" />
          </div>
          <div
            class="ship-tracks"
            data-aos="fade-in"
            data-aos-easing="linear"
            data-aos-delay="650"
            data-aos-offset="220"
          >
            <img class="" alt="hero" src="../../../images/ship-tracks-2.png" />
          </div>
          <div
            class="ship-1403-shade"
            data-aos="fade-in"
            data-aos-easing="ease-in-sine"
            data-aos-delay="1050"
            data-aos-offset="270"
          >
            <img class="" alt="hero" src="../../../images/ship-1403-shade.png" />
          </div>
          <div
            class="ship-tracks-back"
            data-aos="fade-up-left"
            data-aos-easing="ease-in-sine"
            data-aos-delay="500"
            data-aos-offset="200"
          >
            <img class="" alt="hero" src="../../../images/ship-tracks-back.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END: hero -->

  <!-- blob mix -->
  <div class="blobmix blobmix--outside-visible">
    <div class="blob-wrapper">
      <svg
        class="blob blob_1"
        data-aos="zoom-in-up"
        data-aos-easing="ease-out-cubic"
        data-aos-offset="100"
        data-aos-delay="100"
      >
        <use xlink:href="../../../images/sprite.svg#blob" />
      </svg>
      <svg
        class="blob blob_2"
        data-aos="zoom-in-up"
        data-aos-easing="ease-out-cubic"
        data-aos-offset="120"
        data-aos-delay="100"
      >
        <use xlink:href="../../../images/sprite.svg#blob" />
      </svg>
      <svg
        class="blob blob_3"
        data-aos="zoom-in-up"
        data-aos-easing="ease-out-cubic"
        data-aos-offset="140"
        data-aos-delay="100"
      >
        <use xlink:href="../../../images/sprite.svg#blob" />
      </svg>
      <svg
        class="blob blob_4"
        data-aos="zoom-in-up"
        data-aos-easing="ease-out-cubic"
        data-aos-offset="160"
        data-aos-delay="100"
      >
        <use xlink:href="../../../images/sprite.svg#blob" />
      </svg>
      <svg
        class="blob blob_5"
        data-aos="zoom-in-up"
        data-aos-easing="ease-out-cubic"
        data-aos-offset="170"
        data-aos-delay="100"
      >
        <use xlink:href="../../../images/sprite.svg#blob" />
      </svg>
    </div>
  </div>
  <!-- END blob mix -->

  <!-- clouds -->
  <div id="cloudsParallax"></div>
  <!-- END clouds -->
</section>
