.blobmix {
  @apply w-full h-full absolute top-0 left-0 overflow-hidden;
  width: 100%;
  height: 100%;
  z-index: 2;

  .blob-wrapper {
    @apply absolute top-0 left-0 flex overflow-hidden items-center justify-end text-primary-dark;

    width: 120%;
    height: 100%;
    margin-right: -30%;
    @apply opacity-70;

    .blob {
      @apply absolute;
      mix-blend-mode: color;

      &.blob_1 {
        @apply opacity-80;
        width: 65%;
        height: 65%;
        z-index: 6;
      }
      &.blob_2 {
        @apply opacity-30;
        width: 82%;
        height: 82%;
        z-index: 5;
        transform: rotate(42deg);
        right: -5%;
      }
      &.blob_3 {
        @apply opacity-25;
        width: 110%;
        height: 110%;
        z-index: 4;
        transform: rotate(151deg);
        right: -15%;
      }
      &.blob_4 {
        @apply opacity-20;
        width: 130%;
        height: 130%;
        z-index: 3;
        transform: rotate(221deg);
        right: -15%;
      }
      &.blob_5 {
        @apply opacity-10;
        width: 170%;
        height: 170%;
        z-index: 3;
        transform: rotate(221deg);
        right: -35%;
      }
    }
  }
}
