.footer-section {
  @apply relative bg-primary px-14 pt-32 z-10 overflow-hidden;

  &:after {
  }
  &:before {
    content: '';
    @apply block absolute bg-center bg-repeat-x left-0 top-0;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end-40.png');
    z-index: 3;
  }
}
