.logo_group {
  .logomark {
    @apply transition-all duration-150 ease-in-out;

    #Path_13012 {
      @apply transition-all duration-150 ease-in-out;
      fill: #fff;
    }
    #Path_13013 {
      @apply transition-all duration-150 ease-in-out;
      fill: #fcfcff;
    }
    #Path_13014 {
      @apply transition-all duration-150 ease-in-out;
      fill: #f7f9fe;
    }
    #Path_13015 {
      @apply transition-all duration-150 ease-in-out;
      fill: #f7f9fe;
    }
    #Path_13016 {
      @apply transition-all duration-150 ease-in-out;
      fill: #cdcee4;
    }
    #Path_13017 {
      @apply transition-all duration-150 ease-in-out;
      fill: #f7f9fe;
    }
    #Path_13018 {
      @apply transition-all duration-150 ease-in-out;
      fill: #cdcee4;
    }
    #Path_13019 {
      @apply transition-all duration-150 ease-in-out;
      fill: #cdcee4;
    }
    #Path_13020 {
      @apply transition-all duration-150 ease-in-out;
      fill: #f7f9fe;
    }
    #Path_13021 {
      @apply transition-all duration-150 ease-in-out;
      fill: #f7f9fe;
    }
  }

  &:hover {
    .logomark {
      #Path_13012 {
        fill: #0579bf;
      }
      #Path_13013 {
        fill: #005f9e;
      }
      #Path_13014 {
        fill: #03416a;
      }
      #Path_13015 {
        fill: #56beec;
      }
      #Path_13016 {
        fill: #f6931c;
      }
      #Path_13017 {
        fill: #03416a;
      }
      #Path_13018 {
        fill: #f6931c;
      }
      #Path_13019 {
        fill: #f6931c;
      }
      #Path_13020 {
        fill: #03416a;
      }
      #Path_13021 {
        fill: #03416a;
      }
    }
  }
}
