.product-image-overview {
  --perspective: 900px;
  transform: perspective(var(--perspective)) rotateX(7.64deg) rotateY(0.09deg) scale3d(1, 0.7, 1);
  //   margin-top: calc(var(--perspective) - 85%);
}

.overview-pin {
  @apply absolute  drop-shadow-2xl w-40 min-w-40 font-semibold flex flex-col items-center justify-center border-4 border-primary-light bg-white py-5 px-4 rounded-full text-gray-dark;

  top: -105px;
  left: 30%;
  z-index: 20;

  &--1 {
    top: 110px;
    left: 158px;
  }
  &--2 {
    top: 288px;
    left: 256px;
  }
  &--3 {
    top: 209px;
    left: 717px;
  }

  span {
    @apply text-xs tracking-wide leading-relaxed uppercase text-center text-gray-light;
  }

  &:before {
    top: 110%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(188, 26, 146, 0);
    border-top-color: #f7931d;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(153, 21, 117, 0);
    border-top-color: #f7931d;
    border-width: 14px;
    margin-left: -14px;
  }
}
