.first-line-white-70 {
  &:first-line {
    @apply text-white-70;
  }
}

.sea-waves {
  background-image: url('../images/sea_shapes.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.03;
}

.hero-section {
  @apply relative;
  height: 125vh;
  text-align: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    // width: 1280px;
    width: 100%;
    height: 239px;
    background-image: url('../images/box_block_hero_1.png');
    background-position: center center;
    background-repeat: repeat-x;
    // background-size: cover;
    bottom: -1px;
    left: 0;
    z-index: 5;
  }
  &:before {
    content: '';
    display: block;
    position: fixed;
    // width: 1280px;
    width: 100%;
    height: 100vh;
    background-image: url('../images/vertical_lines.png');
    background-position: center center;
    background-repeat: repeat-y;
    // background-color: rgba(18, 49, 187, 0.1);
    left: 0;
    z-index: 6;
    opacity: 0.5;
  }
}

.square-block {
  background-image: url('../images/box_block_hero_1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 239px;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -8px;
  // margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 11px;
  height: 35px;
  background: #1f6eae;
  border: 1px solid #cdcee43f;
  border-radius: 25px;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

#cloudsParallax {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: url('../images/clouds_1.png'), url('../images/clouds_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  z-index: 11;
}

.section-img {
  @apply block w-11/12 h-full ml-auto bg-cover bg-center bg-no-repeat relative;
  background-image: url('../images/pexels-thisisengineering-3862632.jpg');

  &:after {
    content: '';
    @apply block absolute w-full h-full bg-primary opacity-50;
    mix-blend-mode: color;
  }

  .img-squares-mix {
    @apply block w-40 h-40 absolute z-15;

    &.ism-tr {
      @apply top-0 right-0;

      .sq1 {
        @apply block w-20 h-20 absolute top-0 left-0 bg-primary;
      }
      .sq2 {
        @apply block w-20 h-20 absolute top-0 right-0 bg-gray-1;
      }
      .sq3 {
        @apply block w-20 h-20 absolute bottom-0 right-0 bg-primary-light;
      }
    }

    &.ism-bl {
      @apply bottom-0 left-0 -rotate-90 -mb-20;

      .sq1 {
        @apply block w-20 h-20 absolute top-0 left-0 bg-primary;
      }
      .sq2 {
        @apply block w-20 h-20 absolute top-0 right-0 bg-gray-1;
      }
      .sq3 {
        @apply block w-20 h-20 absolute bottom-0 right-0 bg-primary-light;
      }
    }

    &.ism-br {
      @apply bottom-0 right-0 w-20 h-20;

      .sq1 {
        @apply block w-20 h-20 absolute top-0 left-0 bg-primary-light;
      }
    }
  }
}

ul.unordered-list {
  li {
    @apply mb-4 relative pl-6 text-base;

    &:nth-child(odd) {
      @apply font-semibold;
    }

    &:nth-child(even) {
      @apply font-normal;
    }

    &:before {
      content: '';
      @apply inline-block w-4 h-4 absolute bg-white rounded-full -ml-6 mt-1 bg-no-repeat bg-center;
      background-image: url('../images/check_mark.svg');
    }
  }
}

.section-title {
  @apply flex flex-col items-start mb-6;

  .tagline {
    @apply mb-4 text-2xl font-normal tracking-widest text-primary uppercase;
  }

  .title {
    @apply text-4xl font-extrabold leading-none tracking-tighter text-primary-dark md:text-4xl lg:text-4xl;
  }
}

.services-section {
  @apply relative;
  background-image: url('../images/vertical_bars.png');
  background-position: center center;
  background-repeat: repeat;

  &:after {
    content: '';
    display: block;
    position: absolute;
    // width: 1280px;
    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end.png');
    background-position: center center;
    background-repeat: repeat-x;
    // background-size: cover;
    bottom: 0px;
    left: 0;
    z-index: 5;
  }
  &:before {
    content: '';
    display: block;
    position: relative;
    // width: 1280px;
    width: 100%;
    height: 140px;
    background-image: url('../images/box_block_about.png');
    background-position: center center;
    background-repeat: repeat-x;
    // background-color: rgba(18, 49, 187, 0.1);
    left: 0;
    z-index: 2;
  }
}

.services-products {
  @apply relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    // width: 1280px;
    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end.png');
    background-position: center center;
    background-repeat: repeat-x;
    // background-size: cover;
    top: 0px;
    left: 0;
    z-index: 5;
  }
}
