.first-line-white-70 {
  &:first-line {
    @apply text-white-70;
  }
}

.sea-waves {
  background-image: url('../images/sea_shapes.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.03;
}

.hero-section {
  @apply relative;
  height: 125vh;
  text-align: center;

  &:after {
    content: '';
    @apply block absolute w-full bg-center bg-repeat-x left-0 z-5;
    height: 239px;
    background-image: url('../images/box_block_hero_1.png');
    bottom: -1px;
  }
  &:before {
    content: '';
    @apply block fixed w-full h-screen bg-center bg-repeat-y left-0 opacity-50;
    background-image: url('../images/vertical_lines.png');
    z-index: 6;
  }

  &--sub {
    height: 300px;

    &:after {
      content: '';
      @apply block absolute w-full bg-center bg-repeat-x left-0 z-5;
      height: 150px;
      background-image: url('../images/box_block_sub.png');
      bottom: -15px;
    }

    &:before {
    }
  }

  &--product {
    @apply overflow-visible mb-20 h-screen;

    &:after {
      content: '';
      @apply block absolute w-full bg-center bg-repeat-x left-0 z-5;
      height: 150px;
      background-image: url('../images/box_block_sub.png');
      bottom: -15px;
    }
  }
}

.square-block {
  @apply bg-cover bg-no-repeat;

  background-image: url('../images/box_block_hero_1.svg');

  height: 239px;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -8px;
  // margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 11px;
  height: 35px;
  background: #1f6eae;
  border: 1px solid #cdcee43f;
  border-radius: 25px;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    @apply opacity-0;
  }
  10% {
    transform: translateY(0);
    @apply opacity-100;
  }
  100% {
    transform: translateY(15px);
    @apply opacity-0;
  }
}

#cloudsParallax {
  background-image: url('../images/clouds_1.png'), url('../images/clouds_2.png');
  @apply absolute w-full h-full bg-repeat bg-center left-0;
  z-index: 15;
}

.section-img {
  @apply block w-full h-full bg-cover bg-center bg-no-repeat relative;

  img {
    @apply w-full h-full object-cover object-center mx-auto;
  }

  &:after {
    content: '';
    @apply block absolute w-full h-full bg-primary opacity-50 z-5 left-0 top-0  mix-blend-color;
  }

  &--product {
    @apply drop-shadow-xl;
    &--three-d-r {
      img {
        transform: perspective(900px) rotateX(0) rotateY(9deg) scale3d(1, 1, 1);
      }
    }

    &--three-d-l {
      img {
        transform: perspective(900px) rotateX(0) rotateY(-9deg) scale3d(1, 1, 1);
      }
    }

    &:after {
      display: none;
    }
  }

  .img-squares-mix {
    @apply block w-40 h-40 absolute z-15;

    &.ism-tr {
      @apply top-0 right-0;

      .sq1 {
        @apply block w-20 h-20 absolute top-0 left-0 bg-primary;
      }
      .sq2 {
        @apply block w-20 h-20 absolute top-0 right-0 bg-gray-1;
      }
      .sq3 {
        @apply block w-20 h-20 absolute bottom-0 right-0 bg-primary-light;
      }
    }

    &.ism-bl {
      @apply bottom-0 left-0 -rotate-90 -mb-20;

      .sq1 {
        @apply block w-20 h-20 absolute top-0 left-0 bg-primary;
      }
      .sq2 {
        @apply block w-20 h-20 absolute top-0 right-0 bg-gray-1;
      }
      .sq3 {
        @apply block w-20 h-20 absolute bottom-0 right-0 bg-primary-light;
      }
    }

    &.ism-br {
      @apply bottom-0 right-0 w-20 h-20;

      .sq1 {
        @apply block w-20 h-20 absolute top-0 left-0 bg-primary-light;
      }
    }
  }
}

ul.unordered-list {
  li {
    @apply mb-4 relative pl-6 text-base;

    &:nth-child(odd) {
      @apply font-semibold;
    }

    &:nth-child(even) {
      @apply font-normal;
    }

    &:before {
      content: '';
      @apply inline-block w-4 h-4 absolute bg-white rounded-full -ml-6 mt-1 bg-no-repeat bg-center;
      background-image: url('../images/check_mark.svg');
    }
  }
}

.section-title {
  @apply flex flex-col items-start mb-12;

  .tagline {
    @apply mb-4 text-2xl font-normal tracking-widest text-primary uppercase;
  }

  h1.title {
    @apply text-4xl font-extrabold leading-none tracking-tighter text-primary-dark md:text-4xl lg:text-4xl;
  }
  h2.title {
    @apply text-2xl font-extrabold leading-none tracking-tighter text-primary-dark md:text-2xl lg:text-2xl;
  }

  &--blog {
    h1.title {
      @apply text-5xl;
    }
  }

  &--product {
    .tagline {
      @apply mb-4 text-2xl font-normal tracking-widest text-primary uppercase;
    }

    h1.title {
      @apply text-4xl font-extrabold leading-10 tracking-normal text-primary-dark md:text-4xl lg:text-5xl;
    }
  }
}

.page-title {
  @apply flex flex-col items-start mb-12;

  .breadcrumbs {
    @apply mb-2 text-xs font-normal tracking-widest text-primary-light uppercase;
  }

  h2.title {
    @apply text-4xl font-extrabold leading-none tracking-wide text-white md:text-3xl lg:text-4xl;
  }
}

.sub-section {
  @apply relative z-20 -mt-20;

  &:after {
    content: '';
    @apply block absolute bg-center bg-repeat-x bottom-0 left-0 z-15;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end_2.png');
    // background-color: red;
    bottom: -65px;
  }

  &:before {
    content: '';
    @apply block absolute w-full bg-center bg-repeat-y bottom-0 left-0 opacity-50;
    background-image: url('../images/vertical_lines.png');
    bottom: -65px;
    height: 70px;
    z-index: 36;
  }
}

.services-section,
.team-section {
  @apply relative bg-center bg-repeat;
  background-image: url('../images/vertical_bars.png');
  margin-top: -120px;

  &:after {
    content: '';
    @apply block absolute bg-center bg-repeat-x bottom-0 left-0 z-50;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end.png');
    // background-color: red;
    bottom: -65px;
  }
  &:before {
    content: '';
    @apply block relative bg-center bg-repeat-x left-0;

    width: 100%;
    height: 140px;
    background-image: url('../images/box_block_about.png');
    z-index: 2;
    top: -5px;
  }
}

.blog-section {
  @apply relative;

  .blog-section-bg {
    @apply absolute left-0 top-0 w-full h-full bg-repeat-y bg-center opacity-40;
    z-index: 3;
    background-image: url('../images/vertical_bars.png');
  }

  .blog-section-bg2 {
    @apply absolute left-0 top-0 w-full h-full bg-gradient-to-b from-transparent to-gray-1;
    z-index: 4;
  }

  &:after {
    content: '';
    @apply block absolute bg-center bg-repeat-x bottom-0 left-0 z-50;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end_2.png');
    // background-color: red;
    bottom: -65px;
  }

  &:before {
    content: '';
    @apply block absolute bg-center bg-repeat-x left-0 top-0 opacity-40;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end_invert.png');
    z-index: 2;
    margin-top: -70px;
  }
}

.products-section {
  @apply relative;

  &:after {
    content: '';
    @apply block absolute bg-center bg-repeat-x top-0 left-0 z-5;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end.png');
  }
}

.technologies-section {
  @apply relative;

  &:after {
    content: '';
    @apply block absolute bg-center bg-repeat-x top-0 left-0 z-5;

    width: 100%;
    height: 70px;
    background-image: url('../images/vertical_bars_end.png');
  }
}
