<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- <link href="styles/tailwind.css" rel="stylesheet" /> -->
    <title>1403.link | Home</title>
  </head>

  <body>
    <!-- hero -->
    <%= require('html-loader!./htmlPartials/hero.html').default %>
    <!-- END hero -->

    <!-- about section -->
    <!-- <%= require('html-loader!./htmlPartials/section-about.html').default %> -->
    <!-- END about section -->

    <!-- services section -->
    <!-- <%= require('html-loader!./htmlPartials/section-services.html').default %> -->
    <!-- END service section -->

    <!-- products section -->
    <!-- <%= require('html-loader!./htmlPartials/section-products.html').default %> -->
    <!-- END products section -->

    <!-- clients section -->
    <!-- <%= require('html-loader!./htmlPartials/section-clients.html').default %> -->
    <!-- END clients section -->

    <!-- blog section -->
    <!-- <%= require('html-loader!./htmlPartials/section-blog.html').default %> -->
    <!-- END blog section -->

    <!-- footer -->
    <!-- <%= require('html-loader!./htmlPartials/footer.html').default %> -->
    <!-- END: footer -->
  </body>
</html>
