<main
  class="
    relative
    flex-1 flex
    h-full
    flex-col
    p-0
    w-full
    overflow-x-hidden overflow-y-scroll
    bg-gray-1
    intro-y-3
  "
>
  <div class="flex flex-col h-fulls pl-2 pr-0 py-4">
    <!-- empty state item -->
    <div
      class="
        w-1/2
        h-auto
        mx-auto
        my-10
        text-center
        flex flex-col
        items-center
        justify-center
        space-y-4
      "
    >
      <span>
        <img src="../../../images/empty_list.svg" class="w-36 mb-6" />
      </span>
      <span class="text-xl uppercase font-semibold">No items</span>
      <span class="text-sm font-normal text-gray-dark text-left">
        Get started by creating a new item.
      </span>
      <span>
        <a class="btn btn-outline-primary">
          <span class="svg">
            <svg class="w-6 h-6">
              <use xlink:href="../../../images/sprite_admin.svg#add" />
            </svg>
          </span>
          <span class="label">Add new item</span>
        </a>
      </span>
    </div>
    <!-- END empty state item -->
  </div>
</main>
