<main
  class="
    relative
    h-auto
    p-0
    w-full
    overflow-x-hidden overflow-y-scroll
    bg-gray-1
    px-6
    py-6
    grid grid-cols-1
  "
>
  <h2 class="text-2xl font-bold mb-6">Loader</h2>
  <!-- loader item -->
  <div id="loader" class="w-full mx-auto flex items-center justify-center">
    <svg
      version="1.1"
      id="L6"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 100 100"
      enable-background="new 0 0 100 100"
      xml:space="preserve"
      class="w-24 h-24 text-primary-light"
    >
      <rect fill="none" stroke="currentColor" stroke-width="4" x="25" y="25" width="50" height="50">
        <animateTransform
          attributeName="transform"
          dur="0.5s"
          from="0 50 50"
          to="180 50 50"
          type="rotate"
          id="strokeBox"
          attributeType="XML"
          begin="rectBox.end"
        />
      </rect>
      <rect x="27" y="27" fill="currentColor" width="46" height="50">
        <animate
          attributeName="height"
          dur="1.3s"
          attributeType="XML"
          from="50"
          to="0"
          id="rectBox"
          fill="freeze"
          begin="0s;strokeBox.end"
        />
      </rect>
    </svg>
  </div>
  <!-- END loader item -->
</main>
