<main
  class="
    relative
    flex-1 flex
    h-full
    flex-col
    p-0
    w-full
    overflow-x-hidden overflow-y-scroll
    bg-gray-1
    intro-y-3
  "
>
  <!-- info toolbar -->
  <div
    class="
      w-full
      min-h-12
      flex-col
      lg:flex-row
      flex
      px-6
      py-6
      border-b border-primary-light
      bg-white
    "
  >
    <div class="w-full lg:w-10/12 flex flex-col space-y-4">
      <!-- without image put w-full class above instead w-10/12 -->
      <span class="text-2xl font-semibold">Super Company d.o.o.</span>

      <div
        class="
          w-full
          flex flex-wrap
          items-start
          justify-start
          text-sm
          font-normal
          text-gray-dark text-left
        "
      >
        <!-- item example -->
        <div class="flex flex-row first-of-type:px-0 space-x-2 px-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#location" />
          </svg>
          <span class="text-sm uppercase font-semibold">Zenica</span>
        </div>
        <!-- END item example -->
        <!-- item example -->
        <div class="flex flex-row first-of-type:px-0 space-x-2 px-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-semibold">Food industry</span>
        </div>
        <!-- END item example -->
      </div>
    </div>
    <!-- with image -->
    <div class="w-full lg:w-2/12 pb-4 lg:pb-0 lg:px-4">
      <img src="https://placehold.co/150x80?text=IMAGE OR LOGO" alt="" class="mx-auto" />
    </div>
    <!-- END with image -->
  </div>
  <!-- END info toolbar -->
  <div class="flex flex-col px-6 py-6 space-y-2">
    <!-- text box -->
    <div class="w-full flex flex-col space-y-4 text-base font-normal text-gray-dark text-left">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <!-- END text box -->

    <!-- list with labels -->
    <div class="w-1/2 flex flex-col">
      <!-- item example -->
      <div
        class="
          flex flex-row
          items-center
          justify-start
          border-b border-primary-light
          last-of-type:border-none
          space-x-4
          py-2
        "
      >
        <div class="flex flex-row space-x-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-light">Responsible person</span>
        </div>
        <div class="text-base font-semibold">John Doe</div>
      </div>
      <!-- END item example -->
      <!-- item example -->
      <div
        class="
          flex flex-row
          items-center
          justify-start
          border-b border-primary-light
          last-of-type:border-none
          space-x-4
          py-2
        "
      >
        <div class="flex flex-row space-x-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-light">Responsible person</span>
        </div>
        <div class="text-base font-semibold">John Doe</div>
      </div>
      <!-- END item example -->
      <!-- item example -->
      <div
        class="
          flex flex-row
          items-center
          justify-start
          border-b border-primary-light
          last-of-type:border-none
          space-x-4
          py-2
        "
      >
        <div class="flex flex-row space-x-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-light">Responsible person</span>
        </div>
        <div class="text-base font-semibold">John Doe</div>
      </div>
      <!-- END item example -->
      <!-- item example -->
      <div
        class="
          flex flex-row
          items-center
          justify-start
          border-b border-primary-light
          last-of-type:border-none
          space-x-4
          py-2
        "
      >
        <div class="flex flex-row space-x-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-light">Responsible person</span>
        </div>
        <div class="text-base font-semibold">John Doe</div>
      </div>
      <!-- END item example -->
      <!-- item example -->
      <div
        class="
          flex flex-row
          items-center
          justify-start
          border-b border-primary-light
          last-of-type:border-none
          space-x-4
          py-2
        "
      >
        <div class="flex flex-row space-x-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-light">Responsible person</span>
        </div>
        <div class="text-base font-semibold">John Doe</div>
      </div>
      <!-- END item example -->
      <!-- item example -->
      <div
        class="
          flex flex-row
          items-center
          justify-start
          border-b border-primary-light
          last-of-type:border-none
          space-x-4
          py-2
        "
      >
        <div class="flex flex-row space-x-2 py-2">
          <svg class="text-primary-light w-4 h-4">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
          <span class="text-sm uppercase font-light">Responsible person</span>
        </div>
        <div class="text-base font-semibold">John Doe</div>
      </div>
      <!-- END item example -->
    </div>
    <!-- END list with labels -->
  </div>
</main>
