<main
  class="
    relative
    h-auto
    p-0
    w-full
    overflow-x-hidden overflow-y-scroll
    bg-gray-1
    px-6
    py-6
    grid grid-cols-1
  "
>
  <h2 class="text-2xl font-bold mb-6">Svg icons</h2>

  <ul class="grid grid-cols-6 gap-8 text-center text-xs leading-4 col-start-1 row-start-2">
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">lines</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#lines" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">search</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#search" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">pencil</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#pencil" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">trash</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#trash" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">calendar</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#calendar" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">add</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#add" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">close</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#close" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">reset</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#reset" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">dots-vertical</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#dots-vertical" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">clock</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#clock" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">search-circle</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#search-circle" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">users</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#users" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">help</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#help" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">cog</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#cog" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">grid</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#grid" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">home</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#home" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">expand</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#expand" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">temperature</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#temperature" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">document-download</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#document-download" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">document-add</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#document-add" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">document-remove</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#document-remove" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">info</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#info" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">user-solid</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#user-solid" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">tag</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#tag" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">arrow-down</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#arrow-down" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">arrow-up</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#arrow-up" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">arrow-left-classic</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#arrow-left-classic" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">issue-fix</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#issue-fix" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">cancel</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#cancel" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">checkbox-solid</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#checkbox-solid" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">exclamation-circle</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#exclamation-circle" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">chevron-double-left</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#chevron-double-left" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">chevron-right</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#chevron-right" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">chevron-left</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#chevron-left" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">chevron-down</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#chevron-down" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">chevron-up</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#chevron-up" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">issue-door</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#issue-door" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">issue-attention</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#issue-attention" />
          </svg>
        </div>
      </div>
    </li>
    <li class="relative flex flex-col-reverse">
      <h5 id="annotation-name">temp_icon</h5>
      <div class="relative mb-3 h-24">
        <div
          class="
            absolute
            inset-0
            w-full
            flex
            items-center
            justify-center
            border border-primary-light
            text-primary-dark
          "
        >
          <svg class="w-6 h-12">
            <use xlink:href="../../../images/sprite_admin.svg#temp_icon" />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</main>
