<main
  class="
    relative
    flex-1 flex
    h-full
    flex-col
    p-0
    w-full
    overflow-x-hidden overflow-y-scroll
    bg-gray-1
  "
>
  <div class="flex flex-col px-6 py-6">
    <div class="space-y-6 text-sm font-normal text-gray-dark text-left">
      <h2>Help</h2>
      <p>
        Tootsie roll dessert cupcake carrot cake brownie halvah icing pastry. Brownie oat cake
        shortbread jujubes sesame snaps cake pie cookie. Biscuit jelly beans tootsie roll tootsie
        roll gummies oat cake. Chocolate bar caramels jelly-o cake cupcake gummi bears cake lollipop
        tootsie roll. Gummi bears ice cream cotton candy cotton candy cake. Sweet roll dessert
        chocolate dragée chocolate bear claw. Biscuit candy canes sweet cake jujubes muffin marzipan
        gingerbread. Halvah halvah candy jelly beans cotton candy. Cookie cake jelly danish cake
        sesame snaps ice cream. Danish oat cake gingerbread candy candy gingerbread. Toffee danish
        carrot cake cookie chocolate pudding bonbon. Tootsie roll bear claw chocolate oat cake candy
        canes pastry macaroon cookie. Gummi bears gummi bears dessert caramels macaroon bonbon.
      </p>
      <p>
        Tootsie roll dessert cupcake carrot cake brownie halvah icing pastry. Brownie oat cake
        shortbread jujubes sesame snaps cake pie cookie. Biscuit jelly beans tootsie roll tootsie
        roll gummies oat cake. Chocolate bar caramels jelly-o cake cupcake gummi bears cake lollipop
        tootsie roll. Gummi bears ice cream cotton candy cotton candy cake. Sweet roll dessert
        chocolate dragée chocolate bear claw. Biscuit candy canes sweet cake jujubes muffin marzipan
        gingerbread. Halvah halvah candy jelly beans cotton candy. Cookie cake jelly danish cake
        sesame snaps ice cream. Danish oat cake gingerbread candy candy gingerbread. Toffee danish
        carrot cake cookie chocolate pudding bonbon. Tootsie roll bear claw chocolate oat cake candy
        canes pastry macaroon cookie. Gummi bears gummi bears dessert caramels macaroon bonbon.
      </p>
      <h3>Gummi bears ice cream cotton candy cotton</h3>

      <p>
        Tootsie roll dessert cupcake carrot cake brownie halvah icing pastry. Brownie oat cake
        shortbread jujubes sesame snaps cake pie cookie. Biscuit jelly beans tootsie roll tootsie
        roll gummies oat cake. Chocolate bar caramels jelly-o cake cupcake gummi bears cake lollipop
        tootsie roll. Gummi bears ice cream cotton candy cotton candy cake. Sweet roll dessert
        chocolate dragée chocolate bear claw. Biscuit candy canes sweet cake jujubes muffin marzipan
        gingerbread. Halvah halvah candy jelly beans cotton candy. Cookie cake jelly danish cake
        sesame snaps ice cream. Danish oat cake gingerbread candy candy gingerbread. Toffee danish
        carrot cake cookie chocolate pudding bonbon. Tootsie roll bear claw chocolate oat cake candy
        canes pastry macaroon cookie. Gummi bears gummi bears dessert caramels macaroon bonbon.
      </p>
      <p>
        Tootsie roll dessert cupcake carrot cake brownie halvah icing pastry. Brownie oat cake
        shortbread jujubes sesame snaps cake pie cookie. Biscuit jelly beans tootsie roll tootsie
        roll gummies oat cake. Chocolate bar caramels jelly-o cake cupcake gummi bears cake lollipop
        tootsie roll. Gummi bears ice cream cotton candy cotton candy cake. Sweet roll dessert
        chocolate dragée chocolate bear claw. Biscuit candy canes sweet cake jujubes muffin marzipan
        gingerbread. Halvah halvah candy jelly beans cotton candy. Cookie cake jelly danish cake
        sesame snaps ice cream. Danish oat cake gingerbread candy candy gingerbread. Toffee danish
        carrot cake cookie chocolate pudding bonbon. Tootsie roll bear claw chocolate oat cake candy
        canes pastry macaroon cookie. Gummi bears gummi bears dessert caramels macaroon bonbon.
      </p>
      <p>
        Tootsie roll dessert cupcake carrot cake brownie halvah icing pastry. Brownie oat cake
        shortbread jujubes sesame snaps cake pie cookie. Biscuit jelly beans tootsie roll tootsie
        roll gummies oat cake. Chocolate bar caramels jelly-o cake cupcake gummi bears cake lollipop
        tootsie roll. Gummi bears ice cream cotton candy cotton candy cake. Sweet roll dessert
        chocolate dragée chocolate bear claw. Biscuit candy canes sweet cake jujubes muffin marzipan
        gingerbread. Halvah halvah candy jelly beans cotton candy. Cookie cake jelly danish cake
        sesame snaps ice cream. Danish oat cake gingerbread candy candy gingerbread. Toffee danish
        carrot cake cookie chocolate pudding bonbon. Tootsie roll bear claw chocolate oat cake candy
        canes pastry macaroon cookie. Gummi bears gummi bears dessert caramels macaroon bonbon.
      </p>
    </div>
  </div>
</main>
