<main class="relative flex-1">
  <div class="w-full h-full grid grid-cols-2 gap-0">
    <!-- graph item -->
    <div class="graph_item">
      <!-- gi header -->
      <div class="gi_header">
        <div>
          <span class="icon">
            <svg>
              <use xlink:href="../../../images/sprite_admin.svg#tag" />
            </svg>
          </span>
          <div class="gi_name">
            <span>Super red 3</span>
            <span>id:652</span>
          </div>
        </div>
        <div>
          <div class="gi_value">
            <span>-17,5°C</span>
            <span>CURRENT</span>
          </div>
          <svg>
            <use xlink:href="../../../images/sprite_admin.svg#temp_icon" />
          </svg>
        </div>
      </div>
      <!-- END gi header -->
    </div>
    <!-- END graph item -->

    <!-- graph item -->
    <div class="graph_item">asa</div>

    <!-- END graph item -->
    <!-- graph item -->
    <div class="graph_item">asa</div>

    <!-- END graph item -->
    <!-- graph item -->
    <div class="graph_item">asa</div>

    <!-- END graph item -->
  </div>
</main>
