<main class="relative flex-1 flex flex-col p-0 w-full overflow-hidden bg-gray-1">
  <!-- details toolbar -->
  <div class="w-full h-12 flex flex-row pl-8 pr-6 border-b border-primary-light">
    <div class="w-1/2 h-full flex flex-row items-center justify-start">
      <a href="/details" class="btn-tab-detail">
        <span class="svg">
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#temperature" />
          </svg>
        </span>
        <span class="label">Temperature</span>
      </a>
      <a href="/details-info" class="btn-tab-detail btn-tab-detail--active">
        <span class="svg">
          <svg class="w-6 h-6">
            <use xlink:href="../../../images/sprite_admin.svg#info" />
          </svg>
        </span>
        <span class="label">Information</span>
      </a>
    </div>

    <!-- toolbar action buttons -->
    <div class="w-1/2 flex flex-row items-center justify-end space-x-2">
      <a href="../" class="btn btn-thin btn-gray">
        <span class="svg">
          <svg class="w-5 h-5">
            <use xlink:href="../../../images/sprite_admin.svg#document-add" />
          </svg>
        </span>
        <span class="label">Pin to dashboard</span>
      </a>

      <a href="#" class="btn btn-thin btn-gray">
        <span class="svg">
          <svg class="w-5 h-5">
            <use xlink:href="../../../images/sprite_admin.svg#document-download" />
          </svg>
        </span>
        <span class="label">Export</span>
      </a>
    </div>
    <!-- END toolbar action buttons -->
  </div>
  <!-- END details toolbar -->

  <div
    class="w-full h-full flex flex-col items-start justify-start mx-auto overflow-hidden px-6 py-6"
  >
    <h2>Details</h2>
    <p>
      Tootsie roll dessert cupcake carrot cake brownie halvah icing pastry. Brownie oat cake
      shortbread jujubes sesame snaps cake pie cookie. Biscuit jelly beans tootsie roll tootsie roll
      gummies oat cake. Chocolate bar caramels jelly-o cake cupcake gummi bears cake lollipop
      tootsie roll. Gummi bears ice cream cotton candy cotton candy cake. Sweet roll dessert
      chocolate dragée chocolate bear claw. Biscuit candy canes sweet cake jujubes muffin marzipan
      gingerbread. Halvah halvah candy jelly beans cotton candy. Cookie cake jelly danish cake
      sesame snaps ice cream. Danish oat cake gingerbread candy candy gingerbread. Toffee danish
      carrot cake cookie chocolate pudding bonbon. Tootsie roll bear claw chocolate oat cake candy
      canes pastry macaroon cookie. Gummi bears gummi bears dessert caramels macaroon bonbon.
    </p>
  </div>
</main>
