<header
  class="
    w-full
    flex flex-wrap
    md:flex-row
    h-auto
    lg:h-16
    items-center
    justify-between
    bg-gray-1
    border-b border-primary-light
    px-6
    sticky
    top-0
    z-50
    intro-y-2
  "
>
  <!-- header title -->
  <div class="w-full md:w-1/2 h-auto md:h-full flex flex-row items-center justify-between">
    <div
      class="
        page_title
        flex flex-1 flex-row
        items-end
        justify-start
        md:justify-start
        text-gray-dark
        py-3
      "
    >
      <span class="icon mr-4">
        <svg class="hidden md:block w-6 h-6">
          <use xlink:href="../../../images/sprite_admin.svg#grid" />
        </svg>
        <template x-if="mobileMenuIsOpen == false">
          <svg
            class="block md:hidden w-6 h-6 cursor-pointer hover:text-primary"
            @click="mobileMenuIsOpen = !mobileMenuIsOpen"
          >
            <use xlink:href="../../../images/sprite_admin.svg#lines" />
          </svg>
        </template>
        <template x-if="mobileMenuIsOpen == true">
          <svg
            class="block md:hidden w-6 h-6 cursor-pointer hover:text-primary"
            @click="mobileMenuIsOpen = !mobileMenuIsOpen"
          >
            <use xlink:href="../../../images/sprite_admin.svg#close-simple" />
          </svg>
        </template>
      </span>
      <div class="flex flex-col text-left">
        <nav class="flex text-xss uppercase" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 md:space-x-2">
            <li class="inline-flex items-center">
              <a href="#" class="text-gray-light hover:text-primary inline-flex items-center">
                Home
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg class="w-2 h-2 text-gray-light">
                  <use xlink:href="../../../images/sprite_admin.svg#chevron-right" />
                </svg>
                <a href="#" class="text-gray-light hover:text-primary ml-1 md:ml-2">Parent</a>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <svg class="w-2 h-2 text-gray-light">
                  <use xlink:href="../../../images/sprite_admin.svg#chevron-right" />
                </svg>
                <span class="text-gray-light ml-1 md:ml-2" aria-current="page">Page</span>
              </div>
            </li>
          </ol>
        </nav>
        <span class="text-sm uppercase font-semibold truncate">Page title</span>
      </div>
    </div>
  </div>
  <!-- END header title -->

  <!-- header action -->
  <div
    class="
      w-full
      md:w-1/2
      h-auto
      md:h-full
      flex flex-row
      items-center
      justify-center
      md:justify-end
      py-3
      space-x-2
      border-t
      md:border-t-0
      border-t-primary-light
    "
  >
    <a href="#" class="btn btn-primary">
      <span class="svg">
        <svg class="w-6 h-6">
          <use xlink:href="../../../images/sprite_admin.svg#add" />
        </svg>
      </span>
      <span class="label">Add item</span>
    </a>

    <a class="btn btn-box-2xl btn-gray has-tooltip">
      <span class="svg">
        <svg class="w-5 h-5">
          <use xlink:href="../../../images/sprite_admin.svg#document-download" />
        </svg>
      </span>
      <span class="tooltip tooltip--bottom">Export</span>
    </a>
    <a class="btn btn-box-2xl btn-gray has-tooltip">
      <span class="svg">
        <svg class="w-5 h-5">
          <use xlink:href="../../../images/sprite_admin.svg#help" />
        </svg>
      </span>
      <span class="tooltip tooltip--bottom">Help</span>
    </a>
    <!-- context button / dropdown -->
    <div class="relative" x-data="{ isOpen: false}">
      <button
        @click="isOpen = !isOpen"
        @keydown.escape="isOpen = false"
        class="btn btn-box-2xl btn-gray"
      >
        <span class="svg">
          <svg class="w-5 h-5">
            <use xlink:href="../../../images/sprite_admin.svg#dots-vertical" />
          </svg>
        </span>
      </button>
      <ul
        x-show="isOpen"
        @click.away="isOpen = false"
        class="
          absolute
          font-normal
          bg-gray-1
          drop-shadow-2xl
          overflow-hidden
          min-w-48
          border border-primary-light
          mt-2
          right-0
          z-20
        "
      >
        <li>
          <a href="#" class="flex items-center px-3 py-3 group hover:bg-gray-2 transition-all">
            <svg class="w-5 h-5 text-primary-light group-hover:text-primary">
              <use xlink:href="../../../images/sprite_admin.svg#pencil" />
            </svg>
            <span class="ml-2 text-sm text-gray-dark group-hover:text-primary">Menu item</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center px-3 py-3 group hover:bg-gray-2 transition-all">
            <svg class="w-5 h-5 text-primary-light group-hover:text-primary">
              <use xlink:href="../../../images/sprite_admin.svg#trash" />
            </svg>
            <span class="ml-2 text-sm text-gray-dark group-hover:text-primary">Menu item</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center px-3 py-3 group hover:bg-gray-2 transition-all">
            <svg class="w-5 h-5 text-primary-light group-hover:text-primary">
              <use xlink:href="../../../images/sprite_admin.svg#add" />
            </svg>
            <span class="ml-2 text-sm text-gray-dark group-hover:text-primary">Menu item</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- END context button  / dropdown-->
  </div>

  <!-- END header action -->
</header>
