<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body
    class="
      text-primary-dark
      antialias
      leading-normal
      tracking-normal
      font-sans
      bg-gray-1
      overflow-x-hidden
    "
  >
    <!-- resolution check -->
    <div
      class="
        fixed
        top-0
        right-0
        rounded-full
        p-3
        text-xs
        font-mono
        text-white
        h-8
        w-8
        flex
        items-center
        justify-center
        bg-gray-700
        sm:bg-pink-500
        md:bg-purple-500
        lg:bg-green-500
        xl:bg-secondary
        2xl:bg-red
      "
      style="z-index: 9999"
    >
      <div class="block sm:hidden md:hidden lg:hidden xl:hidden">al</div>
      <div class="hidden sm:block md:hidden lg:hidden xl:hidden">sm</div>
      <div class="hidden sm:hidden md:block lg:hidden xl:hidden">md</div>
      <div class="hidden sm:hidden md:hidden lg:block xl:hidden">lg</div>
      <div class="hidden sm:hidden md:hidden lg:hidden xl:block">xl</div>
      <div class="hidden sm:hidden md:hidden xl:hidden 2xl:block">2xl</div>
    </div>
    <!-- END:resolution check -->

    <!-- hero -->
    <%= require('html-loader!./htmlPartials/body/blog_header.html').default %>
    <!-- END hero -->

    <!-- hero -->
    <%= require('html-loader!./htmlPartials/sections/blog_post.html').default %>
    <!-- END hero -->

    <!-- footer -->
    <%= require('html-loader!./htmlPartials/body/footer.html').default %>
    <!-- END footer -->
  </body>
</html>
