<a href="#_" class="btn btn-secondary">
  <span class="svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="9.345"
      height="16"
      viewBox="0 0 9.345 16"
      fill="currentColor"
      stroke="none"
    >
      <path
        id="chevron-right-m"
        d="M8.93,3.586,7.586,4.93l6.655,6.655L7.586,18.241,8.93,19.586l8-8Z"
        transform="translate(-7.586 -3.586)"
        fill="currentColor"
      />
    </svg>
  </span>
  <span class="label">Learn more</span>
</a>
<a href="#_" class="btn btn-outline">
  <span class="svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="9.345"
      height="16"
      viewBox="0 0 9.345 16"
      fill="currentColor"
      stroke="none"
    >
      <path
        id="chevron-right-m"
        d="M8.93,3.586,7.586,4.93l6.655,6.655L7.586,18.241,8.93,19.586l8-8Z"
        transform="translate(-7.586 -3.586)"
        fill="currentColor"
      />
    </svg>
  </span>
  <span class="label">Learn more</span>
</a>
<a href="#_" class="btn btn-primary">
  <span class="svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="9.345"
      height="16"
      viewBox="0 0 9.345 16"
      fill="currentColor"
      stroke="none"
    >
      <path
        id="chevron-right-m"
        d="M8.93,3.586,7.586,4.93l6.655,6.655L7.586,18.241,8.93,19.586l8-8Z"
        transform="translate(-7.586 -3.586)"
        fill="currentColor"
      />
    </svg>
  </span>
  <span class="label">Learn more</span>
</a>
<a href="#_" class="btn btn-gray">
  <span class="svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="9.345"
      height="16"
      viewBox="0 0 9.345 16"
      fill="currentColor"
      stroke="none"
    >
      <path
        id="chevron-right-m"
        d="M8.93,3.586,7.586,4.93l6.655,6.655L7.586,18.241,8.93,19.586l8-8Z"
        transform="translate(-7.586 -3.586)"
        fill="currentColor"
      />
    </svg>
  </span>
  <span class="label">Learn more</span>
</a>
<a href="#_" class="btn btn-dark">
  <span class="svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="9.345"
      height="16"
      viewBox="0 0 9.345 16"
      fill="currentColor"
      stroke="none"
    >
      <path
        id="chevron-right-m"
        d="M8.93,3.586,7.586,4.93l6.655,6.655L7.586,18.241,8.93,19.586l8-8Z"
        transform="translate(-7.586 -3.586)"
        fill="currentColor"
      />
    </svg>
  </span>
  <span class="label">Learn more</span>
</a>
