<section class="sub-section">
  <div
    class="
      relative
      items-start
      w-full
      flex flex-row
      justify-between
      px-5
      mx-auto
      md:px-12
      lg:pl-18 lg:pr-14
      max-w-7xl
      z-10
    "
  >
    <div class="w-8/12 pr-8 my-20">
      <!-- section title -->
      <div class="section-title section-title--blog" data-aos="fade-right">
        <span class="tagline"> CASE STUDY </span>
        <h1 class="title">Cheesecake fruitcake lollipop brownie cookie cotton candy</h1>
      </div>
      <!-- END section title -->
      <p class="mb-4 text-xl leading-loose text-left text-primary-dark">
        Gingerbread cake croissant halvah jelly. Gummies cookie cupcake jujubes bonbon chocolate
        bar. Jujubes lollipop icing donut cupcake brownie donut liquorice donut. Biscuit pie cake
        chocolate cake bear claw tart tiramisu marshmallow sugar plum. Dessert shortbread muffin
        halvah pie tiramisu.
        <br />
        Donut oat cake topping marzipan tiramisu tiramisu cake. Candy marzipan sweet roll
        marshmallow pie. Biscuit caramels donut jujubes soufflé tiramisu tart. Candy tiramisu
        lollipop tootsie roll ice cream icing. Gingerbread cake croissant halvah jelly. Gummies
        cookie cupcake jujubes bonbon chocolate bar. <br /><br />

        Jujubes lollipop icing donut cupcake brownie donut liquorice donut. Biscuit pie cake
        chocolate cake bear claw tart tiramisu marshmallow sugar plum. Dessert shortbread muffin
        halvah pie tiramisu. Donut oat cake topping marzipan tiramisu tiramisu cake. Candy marzipan
        sweet roll marshmallow pie. Biscuit caramels donut jujubes soufflé tiramisu tart. Candy
        tiramisu lollipop tootsie roll ice cream icing. Gingerbread cake croissant halvah jelly.
        Gummies cookie cupcake jujubes bonbon chocolate bar. Jujubes lollipop icing donut cupcake
        brownie donut liquorice donut. Biscuit pie cake chocolate cake bear claw tart tiramisu
        marshmallow sugar plum. Dessert shortbread muffin halvah pie tiramisu. Donut oat cake
        topping marzipan tiramisu tiramisu cake. Candy marzipan sweet roll marshmallow pie. Biscuit
        caramels donut jujubes soufflé tiramisu tart. Candy tiramisu lollipop tootsie roll ice cream
        icing.
      </p>
    </div>
    <div class="w-4/12 grid grid-cols-1 gap-y-4 my-20">
      <!-- END blog item --><!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- END blog item --><!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- END blog item --><!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
    </div>
  </div>
</section>
