<section class="sub-section">
  <div
    class="
      relative
      items-start
      w-full
      flex flex-row
      justify-between
      px-5
      mx-auto
      md:px-12
      lg:pl-24 lg:pr-14
      max-w-7xl
      z-10
    "
  >
    <div class="w-full grid grid-cols-3 gap-y-4 gap-x-4 my-20">
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
      <!-- blog item -->
      <a href="blog-post.html" class="blog-item-vlist">
        <div class="cat">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#pencil" />
            </svg>
          </i>
          <span>CASE STUDIES</span>
        </div>
        <h2 class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </h2>
        <div class="date">
          <i>
            <svg>
              <use xlink:href="../../../images/sprite.svg#calendar" />
            </svg>
          </i>
          <span>08.08.2022.</span>
        </div>
      </a>
      <!-- END blog item -->
    </div>
  </div>
</section>
