<section class="sub-section">
  <div
    class="
      relative
      items-start
      w-full
      flex flex-row
      justify-between
      px-5
      mx-auto
      md:px-12
      lg:pl-24 lg:pr-14
      max-w-7xl
      z-20
    "
  >
    <div class="w-6/12 pr-8 mb-20">
      <!-- form -->
      <form action="" method="post">
        <div class="flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-dark">Name</label>
            <input
              type="text"
              placeholder="Enter Name"
              class="
                leading-none
                text-gray-dark
                px-3
                py-5
                focus:outline-none focus:border-blue-700
                mt-6
                bg-gray-2
                border border-primary-light
              "
            />
          </div>
        </div>
        <div class="flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-dark">Email</label>
            <input
              type="email"
              placeholder="Enter Email"
              class="
                leading-none
                text-gray-dark
                px-3
                py-5
                focus:outline-none focus:border-blue-700
                mt-6
                bg-gray-2
                border border-primary-light
              "
            />
          </div>
        </div>
        <div class="flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-dark">Subject</label>
            <input
              type="text"
              placeholder="Enter Subject"
              class="
                leading-none
                text-gray-dark
                px-3
                py-5
                focus:outline-none focus:border-blue-700
                mt-6
                bg-gray-2
                border border-primary-light
              "
            />
          </div>
        </div>
        <div class="flex items-center mt-8">
          <div class="w-full flex flex-col">
            <label class="font-semibold leading-none text-gray-dark">Message</label>
            <textarea
              type="text"
              placeholder="Write Message"
              class="
                h-40
                text-base
                leading-none
                text-gray-dark
                px-3
                py-5
                focus:outline-none focus:border-blue-700
                mt-6
                bg-gray-2
                border border-primary-light
              "
            ></textarea>
          </div>
        </div>

        <div class="flex items-center justify-center w-full mt-8">
          <button class="btn btn btn-primary w-full">
            <span class="svg">
              <svg class="w-4 h-4">
                <use xlink:href="../../../images/sprite.svg#chevron-right" />
              </svg>
            </span>
            <span class="label">Send</span>
          </button>
        </div>
      </form>
      <!-- END form -->
    </div>
    <div class="w-5/12 mx-auto grid grid-cols-1 gap-y-4 mb-20 mt-10">
      <!-- contact item -->
      <div class="w-full h-auto flex flex-row items-start justify-between py-4 px-2">
        <div class="w-12 h-12 flex items-center justify-center p-2 text-secondary">
          <svg>
            <use xlink:href="../../../images/sprite.svg#pin" />
          </svg>
        </div>
        <div
          class="
            flex flex-1
            w-auto
            h-auto
            pl-6
            pr-4
            flex-col
            items-start
            justify-start
            text-primary-dark
          "
        >
          <span class="text-2xl font-bold mb-6">Address</span>
          <span class="text-base font-normal">
            6991 E. Camelback Rd.,<br />
            D-300 Scottsdale, AZ 85251
          </span>
        </div>
      </div>
      <!-- END contact item -->

      <!-- contact item -->
      <div class="w-full h-auto flex flex-row items-start justify-between py-4 px-2">
        <div class="w-12 h-12 flex items-center justify-center p-2 text-secondary">
          <svg>
            <use xlink:href="../../../images/sprite.svg#mail" />
          </svg>
        </div>
        <div
          class="
            flex flex-1
            w-auto
            h-auto
            pl-6
            pr-4
            flex-col
            items-start
            justify-start
            text-primary-dark
          "
        >
          <span class="text-2xl font-bold mb-6">Email</span>
          <span class="text-base font-normal">
            <a href="mailto:request@1403.link">request@1403.link</a>
          </span>
        </div>
      </div>
      <!-- END contact item -->

      <!-- contact item -->
      <div class="w-full h-auto flex flex-row items-start justify-between py-4 px-2">
        <div class="w-12 h-12 flex items-center justify-center p-2 text-secondary">
          <svg>
            <use xlink:href="../../../images/sprite.svg#phone" />
          </svg>
        </div>
        <div
          class="
            flex flex-1
            w-auto
            h-auto
            pl-6
            pr-4
            flex-col
            items-start
            justify-start
            text-primary-dark
          "
        >
          <span class="text-2xl font-bold mb-6">Phone</span>
          <span class="text-base font-normal flex flex-col">
            <a href="tel:+387 33 245 515">+387 33 245 515</a>
            <a href="tel:+387 33 245 515">+387 33 245 515</a>
            <a href="tel:+387 33 245 515">+387 33 245 515</a>
          </span>
        </div>
      </div>
      <!-- END contact item -->
    </div>
  </div>
</section>
