<section class="sub-section">
  <div
    class="relative items-center w-full px-5 pt-24 pb-36 mx-auto md:px-12 lg:px-14 max-w-7xl z-20"
  >
    <!-- section title -->
    <div class="section-title" data-aos="fade-up">
      <span class="tagline mx-auto"> OUR CLIENTS </span>
      <h1 class="title mx-auto">Testimonials</h1>
    </div>
    <!-- END section title -->
    <div class="mx-auto text-center my-10 flex flex-row items-center justify-center">
      <!-- testimonial item -->
      <div class="testimonial-item">
        <div class="ref-image">
          <img class="w-22 h-22" src="../../../images/team/4.webp" />

          <span>John Doe</span>
        </div>

        <div class="ref-msg">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </div>
      </div>
      <!-- END testimonial item -->
      <!-- testimonial item -->
      <div class="testimonial-item testimonial-item--active">
        <div class="ref-image">
          <img class="w-22 h-22" src="../../../images/team/8.webp" />

          <span>John Doe</span>
        </div>

        <div class="ref-msg">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </div>
      </div>
      <!-- END testimonial item -->
      <!-- testimonial item -->
      <div class="testimonial-item">
        <div class="ref-image">
          <img class="w-22 h-22" src="../../../images/team/6.webp" />

          <span>John Doe</span>
        </div>

        <div class="ref-msg">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </div>
      </div>
      <!-- END testimonial item -->
    </div>
  </div>
</section>
