<section id="clients" class="clients-section">
  <div
    class="relative items-center w-full px-5 pt-24 pb-36 mx-auto md:px-12 lg:px-14 max-w-7xl z-20"
  >
    <!-- END section title -->
    <div class="mx-auto text-center">
      <div class="grid grid-cols-4 gap-16 mx-auto lg:grid-cols-4 justify-center">
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/1.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/2.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/3.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/4.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/5.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/6.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/9.png" alt="Alt" />
        </a>
        <!-- END client item -->
        <!-- client item -->
        <a href="#" class="clients-item">
          <img class="" src="../../../images/temp_client_logos/10.png" alt="Alt" />
        </a>
        <!-- END client item -->
      </div>
    </div>
  </div>
</section>
