<section id="services" class="services-section">
  <div
    class="relative items-center w-full px-5 pt-24 pb-36 mx-auto md:px-12 lg:px-14 max-w-7xl z-20"
  >
    <!-- section title -->
    <div class="section-title" data-aos="fade-right">
      <span class="tagline"> Our services </span>
      <h1 class="title">What we do?</h1>
    </div>
    <!-- END section title -->
    <div class="grid w-full grid-cols-1 gap-0.5 mx-auto lg:grid-cols-3">
      <!-- service item -->
      <a href="#" class="service-item" data-aos="fade-up">
        <div class="icon-outer">
          <div class="icon">
            <svg>
              <use xlink:href="../../../images/sprite.svg#code" />
            </svg>
          </div>
        </div>

        <h1 class="title">Software development</h1>
        <p class="desc">
          Dessert shortbread muffin halvah pie tiramisu. Donut oat cake topping marzipan tiramisu
          tiramisu cake.
        </p>
        <span class="hover-object"></span>
      </a>
      <!-- END service item -->
      <!-- service item -->
      <a href="#" class="service-item" data-aos="fade-down">
        <div class="icon-outer">
          <div class="icon">
            <svg>
              <use xlink:href="../../../images/sprite.svg#cloud" />
            </svg>
          </div>
        </div>

        <h1 class="title">Cloud Services</h1>
        <p class="desc">
          Dessert shortbread muffin halvah pie tiramisu. Donut oat cake topping marzipan tiramisu
          tiramisu cake.
        </p>
        <span class="hover-object"></span>
      </a>
      <!-- END service item -->
      <!-- service item -->
      <a href="#" class="service-item" data-aos="fade-up">
        <div class="icon-outer">
          <div class="icon">
            <svg>
              <use xlink:href="../../../images/sprite.svg#comments" />
            </svg>
          </div>
        </div>

        <h1 class="title">IT Consulting</h1>
        <p class="desc">
          Dessert shortbread muffin halvah pie tiramisu. Donut oat cake topping marzipan tiramisu
          tiramisu cake.
        </p>
        <span class="hover-object"></span>
      </a>
      <!-- END service item -->
      <!-- service item -->
      <a href="#" class="service-item" data-aos="fade-down">
        <div class="icon-outer">
          <div class="icon">
            <svg>
              <use xlink:href="../../../images/sprite.svg#search" />
            </svg>
          </div>
        </div>

        <h1 class="title">Software Research</h1>
        <p class="desc">
          Dessert shortbread muffin halvah pie tiramisu. Donut oat cake topping marzipan tiramisu
          tiramisu cake.
        </p>
        <span class="hover-object"></span>
      </a>
      <!-- END service item -->
      <!-- service item -->
      <a href="#" class="service-item" data-aos="fade-up">
        <div class="icon-outer">
          <div class="icon">
            <svg>
              <use xlink:href="../../../images/sprite.svg#stack" />
            </svg>
          </div>
        </div>

        <h1 class="title">Big Data</h1>
        <p class="desc">
          Dessert shortbread muffin halvah pie tiramisu. Donut oat cake topping marzipan tiramisu
          tiramisu cake.
        </p>
        <span class="hover-object"></span>
      </a>
      <!-- END service item -->
      <!-- service item -->
      <a href="#" class="service-item" data-aos="fade-up">
        <div class="icon-outer">
          <div class="icon">
            <svg>
              <use xlink:href="../../../images/sprite.svg#lightbulb" />
            </svg>
          </div>
        </div>

        <h1 class="title">Custom Solutions</h1>
        <p class="desc">
          Dessert shortbread muffin halvah pie tiramisu. Donut oat cake topping marzipan tiramisu
          tiramisu cake.
        </p>
        <span class="hover-object"></span>
      </a>
      <!-- END service item -->
    </div>
  </div>
</section>
