<section id="products" class="products-section">
  <div
    class="relative items-center w-full px-5 pt-24 pb-16 mx-auto md:px-12 lg:px-24 max-w-7xl z-10"
  >
    <!-- section title -->
    <div class="section-title" data-aos="fade-right">
      <span class="tagline"> SOLUTIONS </span>
      <h1 class="title">Our featured product</h1>
    </div>
    <!-- END section title -->
    <div
      class="
        w-full
        flex flex-col
        md:flex-row
        py-10
        px-8
        items-center
        justify-between
        bg-primary-light-30
      "
    >
      <div class="w-1/2 flex flex-col text-left" data-aos="fade-left">
        <!-- section title -->
        <div class="section-title">
          <h2 class="title">Subscription for IOT managed platform</h2>
        </div>
        <!-- END section title -->
        <p class="mb-4 text-base leading-relaxed text-left text-primary-dark">
          Gingerbread cake croissant halvah jelly. Gummies cookie cupcake jujubes bonbon chocolate
          bar. Jujubes lollipop icing donut cupcake brownie donut liquorice donut. Biscuit pie cake
          chocolate cake bear claw tart tiramisu marshmallow sugar plum. Dessert shortbread muffin
          halvah pie tiramisu. Donut oat cake topping marzipan tiramisu tiramisu cake.
        </p>

        <div class="flex-row mt-0 lg:mt-6 max-w-7xl sm:flex">
          <a href="#_" class="btn btn-primary">
            <span class="svg">
              <svg class="w-4 h-4">
                <use xlink:href="../../../images/sprite.svg#chevron-right" />
              </svg>
            </span>
            <span class="label">Products</span>
          </a>
          <a href="#_" class="btn btn-outline-primary ml-6">
            <span class="svg">
              <svg class="w-4 h-4">
                <use xlink:href="../../../images/sprite.svg#chevron-right" />
              </svg>
            </span>
            <span class="label">Contact Us</span>
          </a>
        </div>
      </div>
      <div class="w-1/2 flex items-center relative" data-aos="fade-right">
        <img src="../../../images/app-screens.png" class="absolute -mt-20" alt="" />
      </div>
    </div>
  </div>
</section>
