<section id="technologies" class="technologies-section">
  <div
    class="
      relative
      items-center
      w-full
      flex flex-row
      justify-between
      px-5
      pt-24
      py-40
      mx-auto
      md:px-12
      lg:px-14
      max-w-7xl
      z-10
    "
  >
    <div class="w-1/2 pr-24">
      <!-- section title -->
      <div class="section-title" data-aos="fade-right">
        <span class="tagline"> Technologies </span>
        <h1 class="title">You Choose the Technology and Tools</h1>
      </div>
      <!-- END section title -->
      <p class="mb-4 text-base leading-relaxed text-left text-primary-dark">
        We integrates with the technology and tools you are already using and love.
        <br />
        <br />
        Whether it’s a source control manager, monitoring, security scanner, cloud platform, or test
        automation tool.
      </p>
    </div>
    <div class="w-1/2 grid grid-cols-5 gap-x-px gap-y-2 place-content-center place-items-center">
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/angular.webp" alt="Angular" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/postgresql.webp" alt="Postgres" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/elasticsearch.webp" alt="Elastic Search" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/aws.webp" alt="Amazon Web Services" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/azure.webp" alt="Azure" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/kubernetes.webp" alt="Kubernetes" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/react.webp" alt="React" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/mysql.webp" alt="MySql" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/docker.webp" alt="Docker" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/python.webp" alt="Python" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/github.webp" alt="Github" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/bitbucket.webp" alt="Bitbucket" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/redis.webp" alt="Redis" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/java.webp" alt="Java" />
      </div>
      <div
        class="
          bg-gray-1
          flex
          items-center
          text-center
          w-25
          h-25
          p-4
          justify-center
          border border-primary-light
          transition-all
          hover:border-primary
        "
      >
        <img src="../../../images/tech/vuejs.webp" alt="Vue JS" />
      </div>
    </div>
  </div>
</section>
